.main {
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
  display: flex;
}

.left,
.right {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.left {
  justify-content: right;
  background-color: black;
  color: white;
}

.right {
  background-color: white;
  color: black;
}
